# Base et données
*.duckdb
*.duckdb.wal
*.csv

# Environnements virtuels
venv*/
.venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Python
__pycache__/
*.pyc

# Prefect / Soda
.prefect/
.soda/